.section-row {


}

//clientes
.section-row.row-clientes{

    padding-top: 110px;
    padding-bottom:160px;
    .container{
        position: relative;
    }

    .flex-direction-nav{

        a:before{
            content: none;
        }
        a{
            width: 20px;
            height: 31px;
            text-indent: 200px;
            opacity: 1;
        }
        .flex-prev{
            background-image: url(../images/img-arrow-left.png);
        }
        .flex-next{
            background-image: url(../images/img-arrow-right.png);
        }
    }

    .slides{

        li{
            height: 106px;
            text-align: center;
            vertical-align: middle;
            a{
                display: block;
                height: 100%;
                vertical-align: middle;
            }
            .helper {
                display: inline-block;
                height: 100%
                vertical-align:middle;
            }
        }
    }
}
